@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
}

/* * logo will be automatically resized to fit within the its boundaries */
.app > .navbar {
  height: 7vh;
  display:flex;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;;
}

.app > .navbar > .logo {
  max-width: 120px;
  border:1px solid red;
}
