/* ? Since the nav only have two element
    ? I can just use justify-content: space-between */
.nav-items {
   list-style: none;
   display: flex;   
}

.nav-items > li {
    padding: 10px;
}

.header-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #60DBFB;
   font-size: 130%;
}

.header-nav > img {
    display:inline

}

.header-nav > .nav-logo {
    width:60px;
}

footer{
    position: fixed;
    left:0px;
    bottom: 0px;
    width:100%;
    padding: 10px 0px;
    text-align: center;
    background-color:#60DBFB;
    color:rgb(26, 121, 142);
}